.divBar {
    background-color: black;
    color: white;
    width: 150px; 
    height: 100vh; 
    padding: 15px;
    position: fixed; 
    top: 0;
    right: 0;
}

.divBar nav {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

.divBar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    border: white 1px solid;
}

.divBar a:hover {
    background-color: white;
    color: black;
    }

.navButton {
    color: white;
    background: none;
    border: white 1px solid;
    padding: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
}

.navButton:hover {
    background-color: gray;
}
